<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
  	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	 <!--<beans:xsi:import resource="classpath:WEB-INF/mi-contexto.xml" />-->

	<!-- Security -->
	<http auto-config="true">  
       <intercept-url pattern="/getBandejaInicial*" 
       access="hasRole('ROLE_ADMIN')" /> <!-- ROLE_ + SUFIX-->
       <intercept-url pattern="/getAfiliacionById" access="hasRole('ROLE_ADMIN')" /> 
       
        <form-login login-page="/login" default-target-url="/getBandejaInicial"
        authentication-failure-url="/failure" />
        
        <csrf disabled="true"/>
    </http>  
     
     <authentication-manager>  
      <authentication-provider>  
        <user-service>  
        	<user name="weblogic" password="weblogic1" 
        	authorities="ROLE_ADMIN" />  
        </user-service>  
      </authentication-provider>  
    </authentication-manager>  
    
  <!--<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password, enabled from users where username=?"
		  authorities-by-username-query=
		    "select username, role from user_roles where username =?  " />
	  </authentication-provider>
	</authentication-manager>-->
		
</beans:beans>